<div *ngIf="character" class="w-full h-full">
  <div class=" h-full flex flex-col md:flex-row bg-black md:px-28 lg:px-40 xl:px-64 items-center gap-8 xl:gap-40 relative">
    <img [src]="character.thumbnail.path+'/portrait_uncanny.' + character.thumbnail.extension" alt={{character}} >
    <h1 class="text-4xl bold text-white uppercase font-mono absolute bottom-4 md:static">{{character.name}}</h1>
  </div>
  <div class="mx-8 md:px-28 lg:px-40 xl:px-64 mt-24">
    <h1 class="text-2xl bold text-black uppercase font-mono">Description</h1>
    <hr>
    <p class="text-xl text-black font-mono mt-8">{{character.description ? character.description : 'No description' }}</p>
  </div>


</div>